<div class="sessions-new-form">
  <%= form_tag sessions_path do %>
    <h1>Sign In</h1>
    <div>
      <%= label_tag :email %>
        <%= email_field_tag :email %>
    </div>
    <div>
      <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag "Log In" %>
    </div>
    <% end %>
</div>